<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Smakweb.nl{% endblock %}</title>

        <link type="text/css" href="styles/style.css" rel="stylesheet" media="screen, handheld, projection" />
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	{% block navigation %}
	    	<nav>
	    		<a href="{{ path('homepage') }}">home</a>
	    		<a href="{{ path('about') }}">over</a>
	    		
	    	</nav>
    	{% endblock %}
    
        {% block body %}{% endblock %}

    </body>
</html>
