@charset "ISO-8859-1";
BODY {
    background-color: #ddd;
}

ul {
    padding: 0;	
}

li {
	list-style: none;
}

.clear {
	clear: both;
}

.centered {
    left: 50%;
    position: fixed;
    top: 0;
    transform: translate(-50%, 0px);
    overflow-y: scroll;
}
.container-fluid .centered {
    background-color: white;
    width: 600px;
    height: 97%;
}
.viewContainer {
    margin: 0 20px;
}
.footer {
    color: #999;
    font-size: 0.9em;
    margin-top: 30px;
    padding: 5px 20px;
    position: fixed;
}

.recipeContainer .glyphicon {
	float: right;
}

.recipeContainer input,
.recipeContainer textarea {
	width: 85%;
}

.recipeContainer textarea {
    height: 2.5em;
}

.recipeContainer textarea:focus {
	height: 4.5em;	
}

.instructionContainer {
	margin-bottom: 5px;
	border: 1px solid #333;
	padding: 10px;
}

.instructionContainer .ingredient {
	font-size: 0.9em;
}

.buttonContainer {
	padding: 10px;
}

.addIngredient {
    background-color: #f8f8f8;
    padding: 15px;
    border: 1px solid 
}

.addIngredient li{
	height: 2em;
}

.addIngredient label {
	width: 125px;
}

.addIngredient input {
	width: 145px;
}

input.ingredient {
	margin: 2px;
	padding: 2px;
	float: left;
}

input.ingredient.ammount {
	width: 20%;
	margin-right: 12px;
}

input.ingredient.name {
	width: 62%;
}


